img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.containerr {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


.cursor {
    cursor: pointer;
}


.prevy,
.nextt {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: transparent;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


.nextt {
    right: 0;
    border-radius: 3px 0 0 3px;
}


    .prevy:hover,
    .nextt:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }





.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
}


.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

.imagee img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    background-color: transparent;
}

.imagee:hover img {
    -webkit-transform: scale(1.50); /* Safari and Chrome */
    -moz-transform: scale(1.50); /* Firefox */
    -ms-transform: scale(1.50); /* IE 9 */
    -o-transform: scale(1.50); /* Opera */
    transform: scale(1.50);
}
