@model IEnumerable<ShoppingJewellery.Models.DisplayCommonPro> 
@{
    Layout = "~/Views/Layout/MyLayout.cshtml";
    Page.Title = "Home Page";
}


<div id="slider">
    <ul>
        <li style="background-image: url(images/0.jpg)">
            <h3>Make your life better</h3>
            <h2>Genuine diamonds</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
        <li class="purple" style="background-image: url(images/01.jpg)">
            <h3>She will say “yes”</h3>
            <h2>engagement ring</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
        <li class="yellow" style="background-image: url(images/02.jpg)">
            <h3>You deserve to be beauty</h3>
            <h2>golden bracelets</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
    </ul>
</div>
@* Body *@
<div id="body">
    <div class="container">
        <div class="row" id="product_Type">
            @foreach (var item in Model)
            {
                <div class="col-3" style="margin-bottom:5px;">
                    <a href="@Html.DisplayFor(itemmodel=>item.Prod_ID)"> <img src="~/Content/images/ProductType/@Html.DisplayFor(itemmodel => item.Img)" alt="@Html.DisplayFor(itemmodel => item.Name_Pro)" style="width:280px" /></a>
                </div>
            }
            
        </div>
    </div>
</div>
@Html.Raw(TempData["msg"])
