@model IEnumerable<ShoppingJewellery.Models.DisplayCommonPro> 
@{
    Layout = "~/Views/Layout/Product/LayoutListProduct.cshtml";
    Page.Title = "Home Page";
}



<div id="body">
    <div class="container">
        <div class="row" id="product_Type">
            @foreach (var item in Model)
            {
                <div class="col-3" style="margin-bottom:5px;">
                    <a href="@Html.DisplayFor(itemmodel=>item.Prod_ID)"> <img src="~/Content/images/ProductType/@Html.DisplayFor(itemmodel => item.Img)" alt="@Html.DisplayFor(itemmodel => item.Name_Pro)" style="width:280px" /></a>
                </div>
            }
            
        </div>
    </div>
</div>

