
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Step2</title>
</head>
<body>
    @Html.Raw(TempData["send_code"])
</body>
</html>
