table.dataTable thead .sorting_desc {
    background-image: url('../../Content/images/Icon/Admin/sort_desc.png');
}

table.dataTable thead .sorting_asc {
    background-image: url('../../Content/images/Icon/Admin/sort_asc.png');
}

table.dataTable thead .sorting {
    background-image: url('../../Content/images/Icon/Admin/sort_both.png');
}
