
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}
@if (Session["check"] != null)
{
    <script>
        alert("Username or password is wrong");
    </script>
    Session["check"] = null;
}
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{

    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <h2 style="color: yellow;font-size: 20px;text-align:center">Login</h2>
                <div class="form-group">
                    <label for="email">User Name:</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter user name" name="username" value="nguyen99">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" value="123456789">
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}