@model ShoppingJewellery.Models.ViewFullItem
@{

    ViewBag.Title = "Product";
    Layout = "~/Views/Layout/Product/LayoutListProduct.cshtml";
    Page.title = "Product Details";

}


<div id="breadcrumbs">
    <div class="container" ">
        <ul style="margin:0px">
            <li><a href="#">Home</a></li>
            <li>Product results</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<div id="body">
    <div class="container">

        <div class="row">
            <div class="col-5" >
                <div class="col-12">
                    <div class="mySlides imagee">
                        <img src="/Content/images/Product_Image/RINGS/Image/654a7e458a1710bf9a51b31f407ddd1d.png" style="width:100%">
                    </div>
                    <div class="mySlides imagee">
                        <img src="/Content/images/Product_Image/RINGS/Image/RingfromtheButterfly.jpg" style="width:100%">
                    </div>
                    <div class="mySlides imagee">
                        <img src="/Content/images/Product_Image/RINGS/Image/RingfromtheButterfly.jpg" style="width:100%">
                    </div>
                    <div class="mySlides imagee">
                        <img src="/Content/images/Product_Image/RINGS/Image/RingfromtheButterfly.jpg" style="width:100%">
                    </div>
                    <div class="mySlides imagee">
                        <img src="/Content/images/Product_Image/RINGS/Image/RingfromtheButterfly.jpg" style="width:100%">
                    </div>
                    <div class="mySlides imagee">
                        <img src="/Content/images/Product_Image/RINGS/Img/HaloRoundSolitaireRing.jpg" style="width:100%">
                    </div>


                    <a class="prevy next" onclick="plusSlides(-1)">❮</a>
                    <a class="nextt prev" onclick="plusSlides(1)">❯</a>
                </div>

                <div class="col-12">
                    <div class="column col-3">
                        <img class="demo cursor" src="/Content/images/Product_Image/RINGS/Img/HaloRoundSolitaireRing.jpg" style="width:100%;" onclick="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="column col-3 ">
                        <img class="demo cursor" src="/Content/images/Product_Image/RINGS/Img/LuminousSolitaireBridalRingSet.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column col-3">
                        <img class="demo cursor" src="/Content/images/Product_Image/RINGS/Img/LustreSolitaireRing.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column col-3">
                        <img class="demo cursor" src="/Content/images/Product_Image/RINGS/Img/MarvelSolitaireRing.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                    </div>
                    <div class="column col-3">
                        <img class="demo cursor" src="/Content/images/Product_Image/RINGS/Img/PromiseSolitaireRing.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                    </div>
                    <div class="column col-3">
                        <img class="demo cursor" src="/Content/images/Product_Image/RINGS/Img/TwinkleBridalRingSet.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                    </div>
                </div>
            </div>
            <div class="col-7" ></div>

        </div>
    </div>
</div>
<script src="~/Content/js/Product/ProductDetails.js"></script>