@model IEnumerable<ShoppingJewellery.Models.UserRegMst>
@{
    ViewBag.Title = "User Account";
    Layout = "";
}
<script src="~/Content/JQuery/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

<style>
   

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }

 

    label {
        cursor: pointer;
    }

    #imgInp {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
</style>
<h2>Opacity with Box</h2>
<p>Hover over the image to see the effect.</p>

<div class="container col-1" >
    <img src="/Content/images/Icon/Admin/ChildRow_Create.png" alt="Avatar" id='img-upload' class="image" style="width:50%">
    <div class="middle">
            <label for="imgInp"><img src="~/Content/images/Icon/Admin/Upload1.png" width="35px" /></label>
            <div>
                <input type="file" id="imgInp">
            </div>
        </div>
    </div>



<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function () {
            readURL(this);
        });
    });
</script>