<script src="~/Content/JQuery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
</style>
<h2>Autocomplete</h2>

<p>Start typing:</p>


<b>Name: </b>
<input class="form-control" id="txtSearch" />
<label for="somevalue">Some value:</label><input type="text" id="somevalue" name="somevalue" />
<label for="somevalue">Some value:</label><input type="text" id="somevalue" name="somevalue" data-autocomplete-url="@Url.Action("AutoComplete")" />
<script>

      $("#txtSearch").autocomplete({
        source: function (request, respons) {
            $.ajax({
                url: '@Url.Action("GetBrand", "Test")',
                method: "post",
                dataType: "json",
                data: { brandid: $("#txtSearch").val() },
                success: function (data) {
                    respons($.map(data, function (item) {
                        return { label: item };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
            }
    });


        $('#somevalue').autocomplete({
           source: '@Url.Action("Autocomplete")'
        });

        $('*[data-autocomplete-url]').each(function () {
            $(this).autocomplete({
                source: $(this).data("autocomplete-url")
            });
        });

</script>