<html>
<head>
    <title>My Now Amazing Webpage</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick-theme.css" />
    <link href="~/Content/css/hee.css" rel="stylesheet" />

    <style type="text/css">

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

            .slick-slide img {
                width: 100%;
            }


        .slick-next:before {
            content: url('../../Content/images/Icon/left-arrow (1).png');
        }

        .slick-prev:before {
            content: url('../../Content/images/Icon/left-arrow (2).png');
        }

        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: 2;
        }

        .slick-current {
            opacity: 2;
        }
    </style>

</head>
<body>




    
        <div class="slider slider-for title">
            <div class="tile" data-scale="3.6 data-image="http://ultraimg.com/images/bNeWGWB.jpg">
             
            </div>
            <div>
                <img  src="~/Content/images/Product_Image/RINGS/Img/EllaClassicSolitaireRing.jpg" />
            </div>
            <div><h3>3</h3></div>
            <div><h3>4</h3></div>
            <div><h3>5</h3></div>
        </div>
        <div id="myresult" class="img-zoom-result"></div>
        <div class="slider slider-nav">
            <div>
                <img src="~/Content/images/Product_Image/RINGS/Image/RingfromtheButterfly.jpg" />
            </div>
            <div>
                <img src="~/Content/images/Product_Image/RINGS/Image/RingfromtheButterfly.jpg" />
            </div>
            <div><h3>3</h3></div>
            <div><h3>4</h3></div>
            <div><h3>5</h3></div>
        </div>

        <button type="button" class="hien">Next</button>
        <a></a>

        <script type="text/javascript" src="~/Content/JQuery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/Content/js/Product/slick.js"></script>
    <script src="~/Content/js/Product/hee.js"></script>
        <script type="text/javascript">

           
           

            

            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                focusOnSelect: true

            });




        </script>

</body>
</html>