
@{
    ViewBag.Title = "Index2";
    Layout = "";
}
<script src="~/Content/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
<link href="~/Content/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .field-icon {
        float: right;
        margin-top: -30px;
     
        margin-right: -25px;
        position: relative;
        z-index: 20;
        width: 20px;
    }

    .show_hide {
        width: 20px;
        cursor: pointer;
    }
</style>

<div class="col-md-2">
    <input id="password-field" type="text" class="w3-input" name="password" value="wwwwwwwwwwwwwwwwwwwwwwwwwwww" style="background-color:white;border-bottom:0" disabled>
    <img src="~/Content/images/Icon/Admin/Hide_Password.png" class="field-icon show_hide" />
</div>

<script>

     

</script>