@model ShoppingJewellery.Models.AdminLoginMst

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutHomeAdmin.cshtml";
}
<h2>Hello, @Session["adName"]</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            User Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            Password :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("ChangePass", "ChangePass", "Admin", new { id = Model.Username })
</p>
