
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link href="~/Content/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
    <link href="~/Content/css/Admin/Login.css?1" rel="stylesheet" />
</head>
<body>
    <div class="contact-form">
        <img src="~/Content/images/Icon/Admin/Login.png" class="avatar">
        <h2>Contact Form</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form method="post" action="@Url.Action("Login","Admin")">
            <p>Username</p>
            <input type="text" name="username" id="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
            <div class="form-group">
                <input type="checkbox" id="remember" name="remember" value="true"><label for="remember">Remember Me</label>
            </div>
            <input type="submit" name="" value="Sign In">
        </form>
    </div>
    <script src="~/Content/JQuery/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        if ($(".validation-summary-errors ul li").text()) {
            $(".contact-form").css("height", "480px");
        } else {
            $(".contact-form").css("height", "430px");
        }
    </script>
</body>
</html>